<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="AppLogs" value="D:\AgentsOnline_New\Logs\"/>
        <add key="HotelImagePath" value="D:\ColumbusRPTS\PriceListModule\UploadedImages\"/>
        <add key="TransferImagePath" value="D:\ColumbusRPTS\TransportModule\VehicleImages\"/>
        <add key="TourImagePath" value="D:\ColumbusRPTS\ExcursionModule\Excursionimages\"/>
        <add key="AirportMeetImagePath" value="D:\ColumbusRPTS\PriceListModule\UploadedImages\"/>
        <add key="OtherServiceImagePath" value="D:\ColumbusRPTS\PriceListModule\UploadedImages\"/>
        <add key="HomePageOfferImages" value="D:\ColumbusRPTS\WebAdminModule\UploadHomeImage\"/>
        <add key="DestinationSpecialistImages" value="D:\ColumbusRPTS\UserAdminModule\UploadImage\"/>
        <add key="EmailConfirmLink" value="http://localhost:62361/AgentsOnline_New/SubUserEmailConfirm.aspx"/>
        <add key="idp_sso_target_url" value="https://mahce1.okta.com/app/mahceorg144150_bookingengine_1/exkvmn9qvlL2yyqyy4x6/sso/saml"/>
        <add key="idp_sso_target_logouturl" value="https://mahce1.okta.com/app/UserHome"/>
        <add key="idp_sso_manualloginrequired" value="YES"/>
        <add key="ShowNotColumbusRate" value="YES"/>
        <add key="ShowColumbusRate" value="YES"/>
        <add key="ItineraryUrlName" value="http://localhost/itinerary/ItineraryInformation"/>
        <add key="ItineraryEncryptPassword" value="MahceDubai@@2020"/>        
        <!--<add key="idp_sso_target_url" value="https://mahce.okta.com/app/mahce_bookingengine_1/exkqlf2m45HH0wKD84x6/sso/saml"/>-->
        <add key="RequestIdModifyUser" value="admin\ARUN\VINIL\sanem\ASISH"/>
 
        <add key="IDP_BaseURL" value="http://43.241.62.103:8050"/>
        <add key="IDP_AuthorizeURL" value="http://43.241.62.103:8050/openid/authorize"/>
        <add key="IDP_TokenURL" value="http://43.241.62.103:8050/openid/token"/>
        <add key="IDP_UserURL" value="http://43.241.62.103:8050/openid/userinfo"/>
        <add key="IDP_passwordAPIURL" value="http://43.241.62.103:8050/change_password"/>
        <add key="IDP_RedirectURL" value="http://localhost:64344/AgentsOnline_New/AgentLogin.aspx"/>
        <add key="IDP_ClientSecret" value="dc128e517a17aced1840c41bc0f9cac851c22e1e82805fce85ed8724"/>
        <add key="IDP_Code" value="210157"/>
      
        <add key="APIInventoryURL" value="http://43.241.62.118:8080/productBooking/"/>
        <add key="PaymentGatewayUrl" value="http://localhost/Pgmiddleware/home/proceedToPayment"/>
        <add key="EnKey" value="ABCD1234"/>
        <add key="ReversalUrl" value="http://localhost/Pgmiddleware/Home/ReversalRequest"/>
        <add key="RefundUrl" value="http://localhost/Pgmiddleware/Home/RefundRequest"/>
    </appSettings> 
    <connectionStrings>
        <!--<add name="strDBConnection" connectionString="data source=PC18\MSSQLSERVER2008R;persist security info=True;initial catalog=ColumbusRPTS;user id=sa;pwd=admin;Connect Timeout=200; pooling='true'; Max Pool Size=200"/>-->
      
                                                                                 
<!--<add name="strDBConnection" connectionString="data source=192.168.2.99;persist security info=True;initial catalog=NewColumbus;user id=sa;pwd=RG@6282;Connect Timeout=200; pooling='true'; Max Pool Size=200"/>-->
   
       <!--<add name="strDBConnection" connectionString="data source=RPT-SHUBHENDU\SQLSERVER2017;persist security info=True;initial catalog=NewColumbus;user id=sa;pwd=P@ssw0rd;Connect Timeout=200; pooling='true'; Max Pool Size=200"/>-->
      <!--<add name="strDBConnection" connectionString="data source=192.168.0.108\MSSEERADEV17,1436;persist security info=True;initial catalog=Columbus_DB;user id=sa;pwd=C0lumbus_4dm1n#2020;Connect Timeout=200; pooling='true'; Max Pool Size=200"/>-->
        <add name="strDBConnection" connectionString="data source=192.168.0.122\SQLSERVER2017;persist security info=True;initial catalog=newcolumbustest;user id=sa;pwd=admin;Connect Timeout=200; pooling='true'; Max Pool Size=200"/>

        <!--<add name="strDBConnection" connectionString="data source=RPT-SHUBHENDU;persist security info=True;initial catalog=NewColumbus;user id=sa;pwd=P@ssw0rd;Connect Timeout=200; pooling='true'; Max Pool Size=200"/>-->
      
      <!-- <add name="strDBConnection" connectionString="data source=RGT-RUMY;persist security info=True;initial catalog=NewColumbus;user id=sa;pwd=p@ssw0rd;Connect Timeout=200; pooling='true'; Max Pool Size=200"/>-->
      <!--<add name="strDBConnection" connectionString="data source=MAHCE12\SQLEXPRESS;persist security info=True;initial catalog=ColumbusRPTS;user id=sa;pwd=S@i14041993;Connect Timeout=200; pooling='true'; Max Pool Size=200" />-->
        <!--<add name="strDBConnection" connectionString="data source=RPDXBAPP01;persist security info=True;initial catalog=ColumbusRPTS;user id=sa;pwd=RG@6282;Connect Timeout=200; pooling='true'; Max Pool Size=500" />-->
    </connectionStrings>

    <system.web>
        <!-- 
            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. d
            Set explicit="true" to force declaration of all variables.
        -->
        <globalization culture="en-GB" uiCulture="en-GB"/>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
            </assemblies>
        </compilation>
        <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows"/>
        <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
            <namespaces>
                <clear/>
                <add namespace="System"/>
                <add namespace="System.Collections"/>
                <add namespace="System.Collections.Generic"/>
                <add namespace="System.Collections.Specialized"/>
                <add namespace="System.Configuration"/>
                <add namespace="System.Text"/>
                <add namespace="System.Text.RegularExpressions"/>
                <add namespace="System.Linq"/>
                <add namespace="System.Xml.Linq"/>
                <add namespace="System.Web"/>
                <add namespace="System.Web.Caching"/>
                <add namespace="System.Web.SessionState"/>
                <add namespace="System.Web.Security"/>
                <add namespace="System.Web.Profile"/>
                <add namespace="System.Web.UI"/>
                <add namespace="System.Web.UI.WebControls"/>
                <add namespace="System.Web.UI.WebControls.WebParts"/>
                <add namespace="System.Web.UI.HtmlControls"/>
            </namespaces>
        </pages>
        <httpHandlers>
            <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
        </httpHandlers>
        <sessionState timeout="120"></sessionState>

      <!--<httpRuntime maxRequestLength="2097152" requestLengthDiskThreshold="2097152" executionTimeout="1000"/>-->
      <httpRuntime maxRequestLength="1024000" executionTimeout="999999"/>
      
    </system.web>
    <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <staticContent>
            <!--<mimeMap fileExtension=".woff2" mimeType="application/font-woff" />-->
        </staticContent>
    </system.webServer>
</configuration>